In [1]:
%load_ext sql

In [2]:
import boto3
import json
import time
import getpass
import configparser
import pandas as pd

## Setting Out the Enviroment

### AWS Config

In [3]:
_KEY_ = input("ENTER AWS ACCESS KEY |")
_SECRET_ = input("ENTER AWS SECRET ACCESS KEY |")

ENTER AWS ACCESS KEY |AKIAWAB72SQJO6QRDL2X
ENTER AWS SECRET ACCESS KEY |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

In [4]:
# DWH Config Parameters
CONFIG_FILE = 'dwh.cfg'
config = configparser.ConfigParser()
config.read(CONFIG_FILE)

['dwh.cfg']

In [5]:
DWH_IAM_ROLE_NAME      = config.get("IAM","ROLE_NAME")
DWH_ENDPOINT           = config.get("CLUSTER","HOST")
DWH_PORT               = config.get("CLUSTER","DB_PORT")
DWH_DB                 = config.get("CLUSTER","DB_NAME")
DWH_DB_USER            = config.get("CLUSTER","DB_USER")
DWH_DB_PASSWORD        = config.get("CLUSTER","DB_PASSWORD")
REGION_SRC             = config.get("AWS","REGION_SRC")
REGION_TGT             = config.get("AWS","REGION_TGT")

DWH_CLUSTER_TYPE       = config.get("DWH","DWH_CLUSTER_TYPE")
DWH_NUM_NODES          = config.get("DWH","DWH_NUM_NODES")
DWH_NODE_TYPE          = config.get("DWH","DWH_NODE_TYPE")
DWH_CLUSTER_IDENTIFIER = config.get("DWH","DWH_CLUSTER_IDENTIFIER")

### AWS Clients Through Boto3

In [6]:
#s3 client
s3 = boto3.resource('s3',
                    region_name=REGION_SRC,
                    aws_access_key_id=_KEY_,
                    aws_secret_access_key=_SECRET_
                   )

#iam client
iam = boto3.client('iam',
                   region_name=REGION_TGT,
                   aws_access_key_id=_KEY_,
                   aws_secret_access_key=_SECRET_
                  )
#redshift client
redshift = boto3.client('redshift',
                        region_name=REGION_TGT,
                        aws_access_key_id=_KEY_,
                        aws_secret_access_key=_SECRET_
                       )

### Sample Data on S3 ('west-2')

In [7]:
sampleDbBucket =  s3.Bucket("udacity-dend")

c=0
for obj in sampleDbBucket.objects.filter(Prefix="log_data"):
    if c<5:
        print(obj)
        c+=1
    else:
        break
        
c=0
for obj in sampleDbBucket.objects.filter(Prefix="song_data"):
    if c<5:
        print(obj)
        c+=1
    else:
        break

s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAAK128F9318786.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAAV128F421A322.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAABD128F429CF47.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAACN128F9355673.json')

### IAM Role: create if does not already exists

In [8]:
try:
    print('Creating a new IAM Role')
    dwhRole = iam.create_role(
        Path='/',
        RoleName=DWH_IAM_ROLE_NAME,
        Description = "Allows Redshift clusters to call AWS services on your behalf.",
        AssumeRolePolicyDocument=json.dumps(
            {
                'Statement': [
                    {
                        'Action': 'sts:AssumeRole',
                        'Effect': 'Allow',
                        'Principal': {'Service': 'redshift.amazonaws.com'}
                    }
                ],
                'Version': '2012-10-17'}
        )
        
    )
    print('Attaching Policy')
    iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
    iam.attach_role_policy(RoleName=DWH_IAM_ROLE_NAME,PolicyArn="arn:aws:iam::aws:policy/AdministratorAccess")

except Exception as e:
    print(e)

Creating a new IAM Role
An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name dwhRole already exists.

In [9]:
#Getting the IAM Role ARN and setting it to the config file
DWH_ROLE_ARN = iam.get_role(RoleName=DWH_IAM_ROLE_NAME)['Role']['Arn']
print(DWH_ROLE_ARN)
config.set("IAM","ROLE_ARN", DWH_ROLE_ARN)
with open(CONFIG_FILE, "w+") as configfile:
    config.write(configfile)

arn:aws:iam::412450722834:role/dwhRole

### RS Cluster: create if does not already exists

In [10]:
try:
    response = redshift.create_cluster(        
        # Add parameters for hardware
        ClusterType=DWH_CLUSTER_TYPE,
        NodeType=DWH_NODE_TYPE,
        NumberOfNodes=int(DWH_NUM_NODES),

        # Add parameters for identifiers & credentials
        DBName=DWH_DB,
        ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,
        MasterUsername=DWH_DB_USER,
        MasterUserPassword=DWH_DB_PASSWORD,
        
        # Add parameter for role (to allow s3 access)
        IamRoles=[DWH_ROLE_ARN]
    )
except Exception as e:
    print(e)

An error occurred (ClusterAlreadyExists) when calling the CreateCluster operation: Cluster already exists

In [11]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
cluster_status = myClusterProps['ClusterStatus']
while cluster_status!='available':
    time.sleep(5)
    myClusterProps = redshift.describe_clusters(ClusterIdentifier=DWH_CLUSTER_IDENTIFIER)['Clusters'][0]
    cluster_status = myClusterProps['ClusterStatus']

In [12]:
host = myClusterProps['Endpoint']['Address']
# Update config file with DWH_ENDPOINT as "host"
config.set("CLUSTER","HOST", DWH_ENDPOINT)
with open(CONFIG_FILE, "w+") as configfile:
    config.write(configfile)

In [13]:
# Connecting to the Cluster
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, host, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.c4c2xf8dwbft.us-east-1.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

## Create the tables

In [16]:
#This part is responsible for creating the dim tables, the fact table and the stating tables.
!python3 create_tables.py

## Extract Transform Load (ETL)

In [17]:
!python3 etl.py

## Testing Out Our DWH Solution

### Sample top 5 from each table

In [18]:
%sql SELECT 'staging_songs' as tbl_name, count(*) FROM staging_songs;

 * postgresql://dwhuser:***@dwhcluster.c4c2xf8dwbft.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('staging_songs', 14896)]

In [19]:
%sql SELECT * FROM staging_songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c4c2xf8dwbft.us-east-1.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1, 'AR1C2IX1187B99BF74', None, None, '', 'Broken Spindles', 'SODZYPO12A8C13A91E', 'Burn My Body (Album Version)', 177.99791, 0),
 (1, 'ARKULHT11C8A415E71', None, None, '', 'Jam Hsiao', 'SOYOWPX12AB018B46C', 'Green Door', 198.19057, 2009),
 (1, 'AR06EB01187FB40150', None, None, 'Berkeley, CA', 'NOFX', 'SOPIKEG12A58291636', 'Stickin In My Eye', 144.50893, 1992),
 (1, 'ARRQHXY11F4C83E430', None, None, '', 'Raheem Jamal', 'SOHKWBB12AB01874A3', 'Goodvibe', 221.1522, 0),
 (1, 'AR2DUAO1187B99DDA4', None, None, '', 'FC Kahuna', 'SOENQZW12AB017CB92', 'Growler', 422.13832, 2002)]

In [20]:
%sql SELECT 'staging_events' as tbl_name, count(*) FROM staging_events;

 * postgresql://dwhuser:***@dwhcluster.c4c2xf8dwbft.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('staging_events', 8056)]

In [21]:
%sql SELECT * FROM staging_events LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c4c2xf8dwbft.us-east-1.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(None, 'Logged In', 'Adler', 'M', 0, 'Barrera', None, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'GET', 'Home', 1540835983796.0, 248, None, 200, 1541470364796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 100),
 ('Gustavo Cerati', 'Logged In', 'Adler', 'M', 1, 'Barrera', 249.44281, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', 1540835983796.0, 248, 'Uno Entre 1000', 200, 1541470383796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 100),
 ('Limp Bizkit', 'Logged In', 'Adler', 'M', 2, 'Barrera', 270.49751, 'free', 'New York-Newark-Jersey City, NY-NJ-PA', 'PUT', 'NextSong', 1540835983796.0, 248, 'Behind Blue Eyes', 200, 1541470632796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 100),
 (None, 'Logged In', 'Samuel', 'M', 0, 'Gonzalez', None, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'GET', 'Home', 1540492941796.0, 252, None, 200, 1541473967796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"', 61),
 ('Mikel Erentxun', 'Logged In', 'Samuel', 'M', 1, 'Gonzalez', 178.83383, 'free', 'Houston-The Woodlands-Sugar Land, TX', 'PUT', 'NextSong', 1540492941796.0, 252, 'Frases Mudas', 200, 1541474048796, '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"', 61)]

In [22]:
%sql SELECT 'artists' as tbl_name, count(*) FROM artists;

 * postgresql://dwhuser:***@dwhcluster.c4c2xf8dwbft.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('artists', 10025)]

In [23]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c4c2xf8dwbft.us-east-1.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('ARN092T1187B9928A5', 'Neon Heights featuring Zed J', '', None, None),
 ('ARRTIN91187FB4BC6F', 'Say Anything', 'Los Angeles, CA', None, None),
 ('ARBU8WY1187B9AAC96', 'Shareefa / Ludacris', 'East Orange, NJ', 40.76099, -74.20991),
 ('ARZPDAD1187B98D940', 'Fattburger', '', None, None),
 ('AR2Q7E311C8A423C97', 'Tapper Zukie', '', None, None)]

In [24]:
%sql SELECT 'songplays' as tbl_name, count(*) FROM songplays;

 * postgresql://dwhuser:***@dwhcluster.c4c2xf8dwbft.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('songplays', 333)]

In [25]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c4c2xf8dwbft.us-east-1.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(1, datetime.datetime(2018, 11, 15, 21, 11, 36), 44, 'paid', 'SOCNCGL127D9786D66', 'AREHK7O1187B9ADDD7', 619, 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0'),
 (49, datetime.datetime(2018, 11, 6, 20, 59, 2), 97, 'paid', 'SOSCHDW12A8C130FD7', 'AR40GSU1187FB3AA01', 293, 'Lansing-East Lansing, MI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (137, datetime.datetime(2018, 11, 22, 1, 34, 51), 15, 'paid', 'SOIQRVH12AF729EE08', 'AR9IGU51187FB40D6B', 818, 'Chicago-Naperville-Elgin, IL-IN-WI', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"'),
 (145, datetime.datetime(2018, 11, 5, 17, 31, 40), 35, 'free', 'SONTFNG12A8C13FF69', 'AR52EZT1187B9900BF', 171, 'St. Louis, MO-IL', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/37.0.2062.94 Safari/537.36"'),
 (273, datetime.datetime(2018, 11, 30, 12, 57, 53), 61, 'free', 'SOJDXQI12AF72A580E', 'AR048JZ1187B9AEB85', 1064, 'Houston-The Woodlands-Sugar Land, TX', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"')]

In [26]:
%sql SELECT 'songs' as tbl_name, count(*) FROM songs;

 * postgresql://dwhuser:***@dwhcluster.c4c2xf8dwbft.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('songs', 14896)]

In [27]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c4c2xf8dwbft.us-east-1.redshift.amazonaws.com:5439/dwh
5 rows affected.

[('SOMUYGI12AB0188633', 'La Culpa', 'ARL7K851187B99ACD2', 0, 226.35057),
 ('SOISVYS12A8C144452', 'Balada', 'AR12CE51187B9AE4D3', 2009, 195.21261),
 ('SOYVTPT12A8C13FBD4', 'Grad', 'ARKLA8V1187B999B68', 2007, 354.79465),
 ('SOVDHCR12A6701F1B3', 'Millions', 'AR7UGOA1187B9B2AD0', 1997, 146.28526),
 ('SOIIJTJ12A8C14221B', 'Dji', 'ARJY19G1187FB57D48', 0, 30.6673)]

In [28]:
%sql SELECT  'users' as tbl_name, count(*) FROM users;

 * postgresql://dwhuser:***@dwhcluster.c4c2xf8dwbft.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('users', 104)]

In [29]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c4c2xf8dwbft.us-east-1.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(83, 'Stefany', 'White', 'F', 'free'),
 (15, 'Lily', 'Koch', 'F', 'paid'),
 (81, 'Sienna', 'Colon', 'F', 'free'),
 (42, 'Harper', 'Barrett', 'M', 'paid'),
 (28, 'Brantley', 'West', 'M', 'free')]

In [30]:
%sql SELECT 'time' as tbl_name, count(*) FROM time;

 * postgresql://dwhuser:***@dwhcluster.c4c2xf8dwbft.us-east-1.redshift.amazonaws.com:5439/dwh
1 rows affected.

[('time', 333)]

In [31]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://dwhuser:***@dwhcluster.c4c2xf8dwbft.us-east-1.redshift.amazonaws.com:5439/dwh
5 rows affected.

[(datetime.datetime(2018, 11, 30, 16, 51, 42), 16, 30, 48, 11, 2018, '5'),
 (datetime.datetime(2018, 11, 20, 15, 50, 1), 15, 20, 47, 11, 2018, '2'),
 (datetime.datetime(2018, 11, 3, 17, 59, 1), 17, 3, 44, 11, 2018, '6'),
 (datetime.datetime(2018, 11, 22, 1, 59, 4), 1, 22, 47, 11, 2018, '4'),
 (datetime.datetime(2018, 11, 3, 1, 12, 26), 1, 3, 44, 11, 2018, '6')]

## analytical exploration

#### Most Played Artists

##### This query joins the songplays fact table with the artists dimension table and counts the number of plays for each artist.

In [32]:
%%sql
SELECT a.name AS artist_name, COUNT(sp.songplay_id) AS play_count
FROM songplays sp
JOIN artists a ON sp.artist_id = a.artist_id
GROUP BY a.name
ORDER BY play_count DESC
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.c4c2xf8dwbft.us-east-1.redshift.amazonaws.com:5439/dwh
10 rows affected.

[('Dwight Yoakam', 37),
 ('Kid Cudi / Kanye West / Common', 10),
 ('Kid Cudi', 10),
 ('Ron Carter', 9),
 ('Lonnie Gordon', 9),
 ('B.o.B', 8),
 ('Usher', 6),
 ('Usher featuring Jermaine Dupri', 6),
 ('Muse', 6),
 ('Richard Hawley And Death Ramps_ Arctic Monkeys', 5)]

#### Top Times Of Day (Hours) when people listen to songs

##### This query joins the songplays fact table with the time dimension table to group plays by the hour and then sorts by the most popular hours.

In [33]:
%%sql
SELECT t.hour, COUNT(sp.songplay_id) AS play_count
FROM songplays sp
JOIN time t ON sp.start_time = t.start_time
GROUP BY t.hour
ORDER BY play_count DESC
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.c4c2xf8dwbft.us-east-1.redshift.amazonaws.com:5439/dwh
10 rows affected.

[(17, 40),
 (18, 26),
 (15, 25),
 (16, 24),
 (8, 18),
 (20, 18),
 (19, 16),
 (11, 16),
 (14, 16),
 (13, 14)]

#### Free Vs Paid

##### This query groups the plays by the user level (free or paid) and counts how many plays each level has.

In [34]:
%%sql
SELECT sp.level, COUNT(sp.songplay_id) AS play_count
FROM songplays sp
GROUP BY sp.level
ORDER BY play_count DESC;

 * postgresql://dwhuser:***@dwhcluster.c4c2xf8dwbft.us-east-1.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('paid', 271), ('free', 62)]

#### Most Played Songs

##### This query joins the songplays fact table with the songs dimension table and counts the number of plays for each song title.

In [35]:
%%sql
SELECT s.title AS song_title, COUNT(sp.songplay_id) AS play_count
FROM songplays sp
JOIN songs s ON sp.song_id = s.song_id
GROUP BY s.title
ORDER BY play_count DESC
LIMIT 10;

 * postgresql://dwhuser:***@dwhcluster.c4c2xf8dwbft.us-east-1.redshift.amazonaws.com:5439/dwh
10 rows affected.

[("You're The One", 37),
 ("I CAN'T GET STARTED", 9),
 ('Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 9),
 ("Nothin' On You [feat. Bruno Mars] (Album Version)", 8),
 ("Hey Daddy (Daddy's Home)", 6),
 ('Make Her Say', 5),
 ('Up Up & Away', 5),
 ('Unwell (Album Version)', 4),
 ('Mr. Jones', 4),
 ('Supermassive Black Hole (Album Version)', 4)]

#### Do "Dwight Yoakam" (artist) have more male or female listeners?

##### This query filters the songplays by the artist name 'Dwight Yoakam' and groups the plays by user gender to compare the number of male and female listeners.

In [36]:
%%sql
SELECT u.gender, COUNT(sp.songplay_id) AS play_count
FROM songplays sp
LEFT JOIN users u ON sp.user_id = u.user_id
LEFT JOIN artists a ON sp.artist_id = a.artist_id
WHERE a.name = 'Dwight Yoakam'
GROUP BY u.gender
ORDER BY play_count DESC;

 * postgresql://dwhuser:***@dwhcluster.c4c2xf8dwbft.us-east-1.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('F', 36), ('M', 14)]

## Delete the Cluster

In [37]:
# redshift.delete_cluster( ClusterIdentifier=DWH_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)

## Delete IAM Role

In [38]:
# try:
#     iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess")
# except Exception as e:
#     print(e)

# try:
#     iam.detach_role_policy(RoleName=DWH_IAM_ROLE_NAME, PolicyArn="arn:aws:iam::aws:policy/AdministratorAccess")
# except Exception as e:
#     print(e)
    

# try:
#     iam.delete_role(RoleName=DWH_IAM_ROLE_NAME)
# except Exception as e:
#     print(e)